.video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.video-responsive {
  position: relative;
  overflow: hidden;
  padding-top: 45%;
  width: 100%;
  max-width: 1800px;
  margin: auto;
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  border-radius: 40px;
}
